body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;  /* horizontal */
}

.search-div {
    margin: 40px 0px;
}

.search-input {
    width: 200px;
    height: 20px;
    text-align: center;
}