.env
.venv
generated_data
__pycache__
*.pyc

node_modules/
node/test.ts

python/bible_txt
python/bible_txt_partial
python/bible_txt_current
python/bible_txt_postponed
python/og_parsed_bible_txt.zip
python/tor/torrc