@use './src/components/ReportBtn/ReportBtn.scss' as ReportBtn;
@import './src/css/animations.css';

$header-color          : #fefafc;
$page-margins-color    : #952004;
$page-background-color : #fafafd;
$chapter-column-color  : #fff;

$header-border   : 2px solid #952004;
$standard-border : #dddcda;

$font-family: Segoe UI, Roboto, system-ui, -apple-system, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
$font-size  : 1rem;

$header-height   : 86px;



* {
    box-sizing: border-box;                             // Makes padding/border INCLUDED in the total size of the element, instead of adding to the size of the element
    margin: 0; padding: 0;
}

body {
    display: grid;
    grid-template-rows: $header-height 1fr;     /* header, #content-view */
    height: 100vh;
    
    font-size: $font-size;
    font-family: $font-family;
    background-color: $page-background-color;
}
body > :nth-child(1) {  grid-row: 1;  }
body > :nth-child(2) {  grid-row: 2;  }


header {
    display: grid;
    grid-template-columns: 1fr ReportBtn.$width;
    border: $header-border;
    background-color: $header-color;

    &:hover #report-btn {  animation: fadeIn 0.15s linear forwards;  }
}
#search-input {
    margin: 33px auto auto auto;
    width: 300px; height: 2rem;
    text-align: center;
    font-size: 1.2rem;
    
    position: relative;
    left: calc(ReportBtn.$width / 2);
}


#content-view {
    display: flex;      /*  40px 1fr 40px;  */
    justify-content: space-between;
}
#content-view > :nth-child(1) {  width: 40px; background-color: $page-margins-color;  }
#content-view > :nth-child(3) {  width: 40px; background-color: $page-margins-color;  }



// --- WIDTHS ------------------

// samsung fold 5          : 344
// iphone 14 pro max       : 430

// samsung fold 5 unfolded : 690