@use './src/css/animations.css';
@use './src/components/Spinner/Spinner.scss';
@use './src/components/PassageView/PassageView.scss';
@use './src/components/HomeBtn/HomeBtn.scss' as HomeBtn;
@use './src/components/ReportBtn/ReportBtn.scss' as ReportBtn;


$header-color          : #fefafc;
$page-margins-color    : #952004;
$page-background-color : #fafafd;
$chapter-column-color  : #fff;

$header-border   : 2px solid #952004;
$standard-border : #dddcda;

$font-family: Segoe UI, Roboto, system-ui, -apple-system, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
$font-size  : 1rem;

$header-height   : 86px;


* {
    box-sizing: border-box;                             // Makes padding/border INCLUDED in the total size of the element, instead of adding to the size of the element
    margin: 0; padding: 0;
}

body {
    display: grid;
    grid-template-rows: $header-height 1fr;     /* header, #content-view */
    height: 100vh;
    
    font-size: $font-size;
    font-family: $font-family;
    background-color: $page-background-color;
}
body > :nth-child(1) {  grid-row: 1;  }
body > :nth-child(2) {  grid-row: 2;  }


header {
    display: grid;
    grid-template-columns: HomeBtn.$width 1fr ReportBtn.$width;
    border: $header-border;
    background-color: $header-color;
    
    &:hover #home-btn   {  animation: fadeIn 0.15s linear forwards;  }
    &:hover #report-btn {  animation: fadeIn 0.15s linear forwards;  }
}
#search-input {
    margin: 33px auto auto auto;
    width: 300px; height: 2rem;
    text-align: center;
    font-size: 1.2rem;
    
    // position: relative;
    // left: calc(ReportBtn.$width / 2);
}


#content-view {
    display: flex;      /*  40px 1fr 40px;  */
    justify-content: space-between;
}
#content-view > :nth-child(1) {  width: 40px; background-color: $page-margins-color;  }
#content-view > :nth-child(3) {  width: 40px; background-color: $page-margins-color;  }



// --- WIDTHS ------------------

// samsung fold 5          : 344
// iphone 14 pro max       : 430

// samsung fold 5 unfolded : 690




//--- ReportView ------------------
table {
    
}

.red {
    background-color: red;
}


.bible-grid {
    display: grid;
    grid-auto-flow: column;
    align-items: stretch; // ensures each column fills equal height
    gap: .1rem;
    padding: 1rem;
    background: #0d1117;
    color: #c9d1d9;
    font-family: system-ui, sans-serif;
    
    .column {
        display: flex;
        flex-direction: column;
        justify-content: center; // centers the .books vertically
        align-items: center;     // centers horizontally
        height: 100%;            // fills full grid height
        
        .books {
            display: flex;
            flex-direction: column;
            gap: 3px;
            
            div {
                width: 18px;
                height: 18px;
                background: #161b22;
                border-radius: 3px;
                transition: background 0.15s;
                
                &:hover {
                    background: #238636;
                    cursor: pointer;
                }
            }
        }
    }
}


.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltiptext {
    visibility: hidden; /* Hidden by default */
    width: 130px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1; /* Ensure tooltip is displayed above content */
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
    visibility: visible;
}


#tooltip {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
}
