$report-view-background  : #282c34;
$loading: #d9ddd6;


$success: #8cc762; $success-hover: #a3d87d;

$line-number-color: #495162;    // vscode   
$little-border-color: #31343c;  // vscode
$scrollbar: #2a2f37;          // vscode
$base: #21252b;              // vscode

#report-view-books {
    display: grid;
    grid-auto-flow: row;
    align-items: stretch; // ensures each column fills equal height
    padding: 1rem;
    background: $report-view-background;
    color: #c9d1d9;
    margin: 1rem;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: center; // centers the .books vertically
        align-items: center;     // centers horizontally
        height: 100%;            // fills full grid height

        .chapter {
            width: 1.5rem;
            height: 1.5rem;
            background: $loading;
            border-radius: 3px;
            transition: background 0.15s;
            
            &:hover {
                // background: $success;
            }
        }
    }
}

    
    
//     .column {
//         display: flex;
//         flex-direction: column;
//         justify-content: center; // centers the .books vertically
//         align-items: center;     // centers horizontally
//         height: 100%;            // fills full grid height
        
//         .books {
//             display: flex;
//             flex-direction: column;
//             gap: 3px;
            
//             div {
//                 width: 32px;
//                 height: 32px;
//                 background: $loading;
//                 border-radius: 3px;
//                 transition: background 0.15s;
//                 cursor: pointer;
                
//                 &:hover {
//                     background: $success;
//                 }
//             }
//         }
//     }
// }
.tooltip {
    display: none;
    background-color: #21252b;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1rem;
}