$report-view-background  : #282c34;
$loading: #d9ddd6;

$line-number-color: #495162;    // vscode   
$little-border-color: #31343c;  // vscode
$scrollbar: #2a2f37;          // vscode
$base: #21252b;              // vscode


#report-view-books {
    display: grid;
    grid-auto-flow: row;
    align-items: stretch;
    padding: 1rem;
    background: $report-view-background;
    color: #c9d1d9;
    margin: 1rem;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.chapter {
    width: 1.5rem;
    height: 1.5rem;
    background: $loading;
    border-radius: 2px;
    transition: background 0.15s;
    cursor: pointer;
}
.perfect {
    background: #8cc762;
    &:hover { background: #a3d87d; }
}
.good {
    background: #fac9c8;
    &:hover { background: rgb(252, 223, 222); }
}
.medium {
    background: #FAA3A1;
    &:hover { background: rgb(255, 195, 194); }
}
.bad {
    background: #ff7875;
    &:hover { background: rgb(255, 160, 158); }
}


.tooltip {
    display: none;
    background-color: #21252b;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1rem;
}